################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OctopusCore/obj
/.vs
/OctopusCore/bin/Debug/netstandard2.0
