################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OctopusCore/obj
/.vs/Octopus/v16/TestStore/0
